ion-content {
  --background : url(../../assets/images/3.jpg) no-repeat 100% 100%  / cover;
}

.my-container{
  opacity :0.91;
  color: black;
  text-emphasis-color: initial;
}

.my-container ion-card{
  background-size: 100px 100px;
}